#define SECRET_SSID "YOUR_WIFI_NAME"
#define SECRET_PASS "YOUR_WIFI_PASSWORD"
#define SECRET_TIMEZONE "CET-1CEST,M3.5.0,M10.5.0/3"
#define SECRET_VOLUMIO_HOST "volumio.local"
#define SECRET_VOLUMIO_PORT 3000
